* {
    margin: 0;
    padding: 0;
}
html, body, #app {
    height: 100%;
    width: 100%;

}
.clear {
    *zoom: 1;           /* for IE 6/7 */
}

.clear:before, .clear:after {
    height: 0;
    content: "";
    font-size: 0;
    display: table;
    line-height: 0;     /* for Opera */
    visibility: hidden;
}

.clear:after {
    clear: both;
}

li {
    list-style: none;
}