{% extends 'layout/base.html' %}
{% load static %}

{% block head %}

<script src="{% static 'js/highlight.min.js' %}"></script>
<script src="{% static 'js/quill.js' %}"></script>
<script src="{% static 'js/django_quill.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/darcula.min.css' %}">
<link rel="stylesheet" href="{% static 'css/django_quill.css' %}">
<link rel="stylesheet" href="{% static 'css/quill.snow.css' %}">
    <style>
    #pub  .ql-editor{
        min-height: 650px;
    }
    .title-input{
        margin-bottom: 20px;
        font-size: larger;
        font-weight: bolder;
        height: 50px;
    }
    </style>
{% endblock %}

{% include 'layout/comment_panel_header.html' %}
{% block main %}
    <div class="panel panel-default comment-item input-box" style="">
    <div class="comment-detail detail_markdown" >
        <form action="/public/{{ content.subject.id }}/" method="post" id="pub">
            {% csrf_token %}

            <input type="text" value="{{ content.subject.semester.id }}" name="semester_id" style="display:none">
            <input type="text" class="form-control title-input" name="title" placeholder="请输入标题">


            {{ form.content }}

            <button type="submit" class="btn-primary btn btn-block" style="margin-top: 20px"> 提交</button>
        </form>


    </div>

</div>
{% endblock %}