<div class="panel-heading" style="background: #9e9e9e">
    <div class="container-fluid clear">
        <div class="left">
            {% if semester %}
                <strong>{{ semester.name }}</strong>
            {% elif content.subject %}
                <strong>{{ content.subject.name }}</strong>
            {% elif content.topic %}
                <strong>Topic</strong>
            {% endif %}

        </div>
        <div class="right clear container-right">
            {% if content.subject %}
                <div class="left">clicks</div>
                <div class="left">comments</div>
            {% elif content.topic %}
            {% else %}

                <div class="left">Topics</div>
            {% endif %}
            <div class="right">
                {% if content.topic %}
                    {% if username == content.topic.username %}
                        <button class="btn btn-primary btn-sm">
                            Change
                        </button>

                    {% endif %}
                {% elif content.subject %}
                    <a href="/public/{{ content.subject.id }}/">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                {% else %}
                    <a href="/admin/forum/subject/add/">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                {% endif %}

            </div>
        </div>

    </div>
</div>